<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>GameJam Voting Presentation</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
</head>
<body>
        <article id="webslides">
                <section>
                        <img src="assets/gamejam-logo.png" width="300" />
                        <hr style="border: 1px solid white"/>
                        <h1 id="votorTitle"></h1>
                        <!-- <canvas class="fireworks"></canvas> -->
                        <!-- <h2>Voting Results</h2> -->
                    <div id="initialSetup">
                        <input id="apiURL" placeholder="Votor API Event URL ">
                        <!-- <input placeholder="Event ID"> -->
                        <button id="start" style="width: 100%">GO</button>
                    </div>
                    
                </section>
                <!-- <section class="bg-black aligncenter">
                    <div class="wrap">
                        <h2>Slide 2</h2>
                        <div id="main" class="chart" style="height:700px; width: 1200px;"></div>
                    </div>
                </section> -->
            </article>
</body>
</html>
