<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
</head>
<body>
        <article id="webslides">
                <section>
                    <h1 id="votorTitle">Loading...</h1>
                    <h2>Voting Results</h2>
                </section>
                <!-- <section class="bg-black aligncenter">
                    <div class="wrap">
                        <h2>Slide 2</h2>
                        <div id="main" class="chart" style="height:700px; width: 1200px;"></div>
                    </div>
                </section> -->
            </article>
    
        
    </div><button id="btnNext">NEXT</button>
</body>
</html>
