<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>GameJam Voting Presentation</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
</head>
<body>
        <div class="font_preload" style="opacity: 0">
                <span style="font-family: Overpass;"></span>
            </div>
        <article id="webslides">
                <section>
                        <img src="assets/gamejam-logo.png" width="300" />
                        <hr style="border: 1px solid white"/>
                        <h1 id="votorTitle">GameJam Voting Presentation</h1>
                    <div id="initialSetup">
                        <h4>Navigate forward/backward with Arrow keys!</h4>
                        
                        <input id="apiURL" placeholder="Votor API Event URL ">
                        <!-- <input placeholder="Event ID"> -->
                        <button id="start" style="width: 100%">GO</button>
                        <p class="footer">Version 1.0<br/>
                        Created by <a href="https://github.com/W3D3">W3D3</a><br>
                        <a href="votor.cywl.at">Votor API</a> by <a href="https://github.com/GustavAT">GustavAT</a> und <a href="https://github.com/Monomus">Monomus</a></p>
                    </div>
                    
                </section>
                <!--  Generated slides go here-->
            </article>
</body>
</html>
